<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About</title>
  <link href="https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
  <h4 class="title">ABOUT</h4>
  <h5 class="sub-title">CARLA BEAUTY</h5>
  <div class="container">
    <div class="inner-wrapper">
      <div class="about-item">
        <div class="about-img">
          <img src="../assets/about/about.png" alt="about">
        </div>
        <div class="about-content">
          <h4 class="about-name">
            Hi, I’m Carla Beatriz,the Founder of Carla Beauty.
          </h4>
          <div class="about-text">
            Elevate your special day with our expert hairstyling, makeup, and beauty treatments. Enjoy exclusive access to our luxurious lounge while indulging in complimentary coffee or tea with sweet treats. Relax with a soothing bath and receive assistance with dressing. Pamper yourself and feel radiant on your big day!
          </div>
          <button>My Work</button>
        </div>
      </div>
    </div>
  </div>
  <h5 class="sub-title-brand">Our Brands</h5>
  <img src="../assets/about/brand-logos-sp.png" alt="brand" class="logo-img sp">
  <img src="../assets/about/brand-logos-pc.png" alt="brand" class="logo-img pc">
</body>
</html>
