<footer>
  <img class="footer-logo" src="../assets/header/logo.png" alt="Logo" width="126">
  <div class="footer-text">Expert makeup and hairstyle studio</div>
  <img class="sns-logo" src="../assets/footer/sns-logos.png" alt="SNS">
  <div class="link-wrapper">
    <nav class="link-inner-wrapper">
      <a href="/">Home</a>
      <a href="/portfolio.html">My Work</a>
      <a href="/service.html">Services</a>
      <a href="#classes">Classes</a>
      <a href="#beaytytips">Beauty Tips</a>
      <a href="/about.html">About</a>
      <a href="/contact.html">Contact</a>
    </nav>
  </div>
   <div class="copyright">Copyright 2024, Carla Beauty</div>
</footer>
