<header class="header">
  <div class="header-contents">
    <div class="menu-toggle" onclick="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="close-toggle" onclick="toggleMenu()">&#10005;</div>
    <nav class="menu-left">
      <a href="/">Home</a>
      <a href="/portfolio.html">My Work</a>
      <a href="/service.html">Services</a>
      <a href="#classes">Classes</a>
    </nav>
    <div class="logo header-logo">
      <img src="../assets/header/logo.png" alt="Logo" width="100" class="header-logo__image">
    </div>
    <nav class="menu-right">
      <a href="#beaytytips">Beauty Tips</a>
      <a href="/about.html">About</a>
      <a href="/contact.html">Contact</a>
      <a href="#instagram" class="header-insta"><img src="../assets/header/instagram-logo.png" alt="Instagram"></a>
    </nav>
    <a href="#instagram" class="header-insta"><img src="../assets/header/instagram-logo.png" alt="Instagram"></a>
  </div>
</header>
