<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>header</title>
  <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
  <header class="header">
    <div class="menu-toggle" onclick="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="close-toggle" onclick="toggleMenu()">&#10005;</div>
    <nav class="menu-left">
      <a href="#home">Home</a>
      <a href="#mywork">My Work</a>
      <a href="#services">Services</a>
      <a href="#classes">Classes</a>
    </nav>
    <div class="logo">
      <img src="../assets/header/logo.png" alt="Logo" width="100">
    </div>
    <nav class="menu-right">
      <a href="#beaytytips">Beauty Tips</a>
      <a href="#about">About</a>
      <a href="#contact">Contact</a>
      <a href="#instagram"><img src="../assets/header/instagram-logo.png" alt="Instagram"></a>
    </nav>
  </header>
  <script src="../js/index.js"></script>
</body>
</html>
