@use "variables" as v;

.portfolio-header {
  text-align: center;
  display: grid;
  gap: 32px;
}

.portfolio-title {
  font-size: 80px;
  color: v.$color-brown;

}

.portfolio-text {
  font-size: 18px;
}

.portfolio-tabContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 16px;
  max-width: 1022px;
  width: 100%;
}